---
 const personalImageAlt = "Dana Embon"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        Hi! I'm Dana Embon, I'm 23 years old, and I'm a passionate front-end developer. My journey into programming began in 2020 when I decided to teach myself. Since then, <strong
        >I've focused my skills on web development, particularly in front-end work.</strong
      >
    </p>

    <p>
        In 2022, I made one of the most important decisions of my life: <strong
        >I made Aliyah to Israel to serve in the army.</strong
      > This experience helped me grow personally and prepared me to continue my life in Israel.
    </p>

    <p>
        Beyond programming, <strong
        >I love photography and music, </strong
      >two passions that allow me to express my creativity in different ways.  My goal is to keep growing in the tech world and be part of a significant advancement in programming, contributing with innovative solutions that make a difference.
    </p>
  </div>

  <img width="200" height="200" src="/danaEmbon.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

