<header class="flex justify-center items-center py-5 xl:w-[1120px] mx-auto w-full">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>