---
const personalImageAlt = "Dana Embon"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/Linkedin.astro"
import MailIcon from "../components/icons/Mail.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import SocialPill from "../components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/danaEmbonIcon.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/danaembon"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Open to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Dana Embon
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
  <strong >Web Developer</strong> passionate about turning ideas into modern intuitive digital experiences. <strong>From Givatayim, Israel.</strong> Explore my work to see how I can help take your project to the next level.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill target="_blank" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=DmwnWsCWzJZMfSXRNcnFkLpmSTMmFqxRcxFfmKxQMPdbNwTjCXWQkLppHFjfqkhJNzzdlhpmpPxq">
      <MailIcon class="size-4" />
      Contact
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/danaembon">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/danaembon">
        <GitHubIcon class="size-4"/>
            GitHub
        </SocialPill>
  </nav>
</div>